:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #434455;
    --primary-white-color: #ffffff;
    --accent-color: #404bbf;
    --secondary-background-color: #2E2F42;
    --team-background-color: #F4F4FD;
    --btn-color: #4D5AE5;
    --btns-color: #E7E9FC;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*HEADER*/
.page-header {
    display: flex;
    align-items: center;
    min-height: 72px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid var(--btns-color);

}

.page-header-container {
    display: flex;
    align-items: center;

}

.page-navigation-container {
    display: flex;
    column-gap: 40px;
    flex-direction: row;
    align-items: center;
}

.logo-container {
    display: flex;
    margin-right: 76px;
}

.logo {
    font-family: var(--secondary-font);
    width: 44px;
    height: 21px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--btn-color);
}

.logo-studio {
    color: var(--secondary-background-color);
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;

}

.menu-item:hover,
.menu-item:focus {
    color: var(--accent-color);
}

.mi-container {
    display: flex;
    padding: 24px 0;
}

.menu-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-background-color);
}

.address-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.address {
    font-style: normal;
    font-style: normal;
    padding-left: 332px;
}

.address-item:hover,
.address-item:focus {
    color: var(--accent-color);
}

.address-item {
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.main-section {
    background-color: var(--secondary-background-color);
    width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.ms-container {
    display: flex;

}

.main-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 188px 0;
}

.title-container {
    display: flex;
    max-width: 496px;
}

.title {
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

.button-container {
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    flex-direction: row;
    margin-top: 48px;
    border-radius: 4px;
    border: none;
}

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    background-color: var(--btn-color);
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
}

.principles-section {
    display: flex;
    padding: 120px 0;
}

.principles-section-container {
    display: flex;
    padding-bottom: 120px;
}

.principles-container {
    display: flex;
    padding-top: 130px;
    gap: 24px;
}

.tp-container {
    display: flex;
    flex-direction: column;
    width: calc((100%-72px)/4);
    text-align: center;
}

.top-container {
    display: flex;
    margin-bottom: 8px;
}

.top-principles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-background-color);
}

.principle-descript {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}



.title-section {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-background-color);
}

.ts-container {
    display: flex;
    margin-bottom: 72px;
    align-items: center;
}

.proect-container {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin-bottom: 120px;
}

.team-section-container {
    display: flex;
    flex-direction: column;
    height: 732px;
    align-items: center;
    background-color: var(--team-background-color);
}

.tst-container {
    display: flex;
}

.title-section-team {
    width: 159.4px;
    text-align: center;
    padding-top: 113px;
    padding-bottom: 32px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-background-color);
}

.team-item-container {
    display: flex;
    flex-direction: row;
    column-gap: 23.62px;
}

.img-container {
    padding-bottom: 32px;
    height: 380px;
    padding-bottom: 120px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.img {
    background-color: var(--primary-white-color);
}

.ne-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 8px;
}

.name-emp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-background-color);
}

.td-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-descript {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.logo-foot-studio {
    color: var(--team-background-color);
}

/*portfolio*/
.menu-port-container {
    display: flex;
    flex-direction: column;
}



.buttons-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding-top: 96px;

}

.buttons-container {
    padding: 12px 24px;
    display: flex;
    border: 1px solid var(--btns-color);
    width: auto;
    height: 48px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 12px, 24px;
}

.buttons {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-color);
    background-color: var(--team-background-color);
    cursor: pointer;
}

.buttons:hover,
.buttons:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.porto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    padding-top: 72px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 120px;
}

.nm-container {
    display: flex;
    padding: 0 16px;


}

.ndp-container {
    display: flex;
    border: 1px solid var(--btns-color);
    border-top: none;
    flex-direction: column;
    padding: 32px 16px;
    row-gap: 8px;
}

.name-porto {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-background-color);
}

.descript-porto {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/*footer*/
.footer {
    background-color: var(--secondary-background-color);
    width: 1440px;
    height: 312px;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
}

.logo-foot-studio {
    color: var(--team-background-color);
}

.fd-container {
    display: flex;
    padding-top: 16px;
}

.footer-descript {
    width: 264px;
    color: var(--team-background-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}